       </div>
    </div>
</div>
<footer class="footer footer-static footer-light navbar-shadow">
    <p class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-xs-block d-md-inline-block">Copyright  &copy; 2018 UT4UKW </span></p>
</footer>



<script src="/js/vendors.min.js" type="text/javascript"></script>
<!--
<script src="/js/tether.min.js" type="text/javascript"></script>
<script src="/js/jquery.sticky.js" type="text/javascript"></script>

<script src="/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/js/unison.min.js" type="text/javascript"></script>

<script src="/js/app-menu.js" type="text/javascript"></script>
<script src="/js/app.js" type="text/javascript"></script>
-->




       </body>
</html>