{{> header}}

<div class="row">

    <div class="content-header-left col-md-6 col-12 mb-2">
        <h3 class="content-header-title mb-0">{{ ContestTitle }}</h3>
        <span>{{ ContestState }}</span>
        <div class="row breadcrumbs-top">
            <div class="breadcrumb-wrapper  col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">{{ Main }}</a>
                    </li>
                </ol>
            </div>
        </div>
    </div>


    <div class="col-lg-12 col-md-12 col-xs-12">
        {{> layouts/station_report_table}}
    </div>
</div>


{{> footer}}
